html,body,div,span,ul,li,a,label,table,tr,td,input,button{border: 0;margin: 0;padding: 0;}
a{text-decoration: none;}
body{font-size: 15px;font-weight: 100;}
ul{list-style-type: none}
.con-ti{text-align: center;}
.con-cj{padding-top:5px; padding-left:20px; padding-right:20px;}
.con-u2{line-height: 5em;}
.con-u3{height: auto;}
/*height: 5em;line-height: 5em;*/
.con-u3 .title{font-size: 21px;text-align: center;color: #595797;padding-top:26px;}
.con-u3 .a-list li{margin-top:15px;text-align: center;padding:1px 0px;}
.con-u3 .a-list li a{display:inline-block;width:210px;height:2.5em;line-height: 2.5em;background-color: #6a68ab;border-radius:1.25em;color: #fff;}
.con-u3 .a-list li a.last{background-color:#dbedff; }
.con-u7{height:auto;position:relative;}
.con-u7 .title{font-size: 21px;text-align: center;color: #595797;padding:26px 0;margin:0px 50px;}
.con-u7 .left{position:absolute;left:40px;top:50px;}
.con-u7 .right{position:absolute;right:40px;top:50px;}

.con-cn{}
@media screen and (min-width: 400px) { 
   .con-cn{padding:10px 10px;}
   .a-list{padding:10px 0px;}
}
@media screen and (max-width: 355px) { 
    .con-cn{
        padding:0px 10px;
    }
    .con-ti{
        padding:10px 0px;
    }
}

.con-cn li{float: left;width:33%;margin:9px 0px;text-align: center}
.con-cn li a{display: inline-block; padding:1px 13px;}
.con-cn li img{width:90%;}
.con-cn .con-btn{height:60px;border-radius: 16px;background-color: #6a68ab;color: #fff;margin:19px 0px;text-align: center}
.con-cn .con-btn label{display: inline-block;width: 100%;}
.con-cn .con-btn label.t{font-size: 18px;margin:4px 0;}
.con-cn .see{background-color: #ffb6b7;color:#595797;line-height: 3.5em;}
.con-cn .con-fist{height:10em;text-align: center;margin-top: 1em;}
.con-cn .con-fist img,.con-cn .con-two img{height:7em;}
.con-cn .con-two{height:10em;margin-top: 1em;}
.con-cn .con-two a.c-t-1{float: left;margin-left: 10px;}
.con-cn .con-two a.c-t-2{float: right;margin-right: 10px;}
.hist{height:60px;line-height: 45px;text-align: center;border-top:6px solid #6a68ab;color: #595797;font-size: 18px;}
.hist2{height:200px;text-align: center;border-top:6px solid #6a68ab;color: #595797; }
.hist2 .btn-list1{margin-top:0.5em;overflow: hidden;margin-left:5px;}
.hist2 .btn-list1 li{float: left;width:25%;text-align: center;}
.hist2 .btn-list1 li a{display: inline-block;background: url('../img/btn01.png') no-repeat; background-size: 26em;width:6em;height:6em;}
.hist2 .btn-list1 li a.a1{background-position: 0 0;}
.hist2 .btn-list1 li a.a2{background-position: -102px 0;}
.hist2 .btn-list1 li a.a3{background-position: -204px 0;}
.hist2 .btn-list1 li a.a4{background-position: -306px 0;}
.hist2 .btn-list2{margin: 0px;overflow: hidden;}
.hist2 .btn-list2 li{float: left;width:33%;}
.hist2 .btn-list2 li a{display: block;margin:0px 5px;height:40px;line-height:40px;border-radius: 5px;background-color: #6a68ab;color: #fff;}
.notice{color:#cdcdcd;}
.hist a{color: #595797;}

.floot-menu{position: fixed;bottom: 0px;left: 0px;width: 100%;height:63spx;background-color: #595797;}
.floot-menu li{width: 25%;float:left;height:59px;color:#fff;text-align: center}
.floot-menu li.menu-s{background: url(../img/menu01.png) no-repeat center 5px;background-size:2.3em; }
.floot-menu li.menu-g{background: url(../img/menu2.png) no-repeat center 5px;background-size:2.3em;}
.floot-menu li.menu-l{background: url(../img/menu3.png) no-repeat center 5px;background-size:2.3em;}
.floot-menu li.menu-z{background: url(../img/menu4.png) no-repeat center 5px;background-size:2.3em;}

.floot-menu li.menu-s2{background: url(../img/menu1.png) no-repeat center 5px;background-size:2.3em; }
.floot-menu li.menu-g2{background: url(../img/menu02.png) no-repeat center 5px;background-size:2.3em;}
.floot-menu li.menu-l2{background: url(../img/menu03.png) no-repeat center 5px;background-size:2.3em;}
.floot-menu li.menu-z2{background: url(../img/menu04.png) no-repeat center 5px;background-size:2.3em;}

.floot-menu li a{display: inline-block;width:100%;height:100%;}
.floot-menu li label{padding-top:40px;display: inline-block;color:white;font-size: 10px;}

.detail{margin:10px;overflow: hidden}
.detail li{float: left;width:33%;text-align: center;margin-top:10px;}
.detail li a{display: block;margin:0 5px;height:30px;line-height: 30px;border-radius: 10px;background-color: #daedff;color:#595797;}
.t-no{text-align: center;color: #595797;}
.sBtn{margin:5px 10px;height:50px;line-height:50px;text-align: center;color: #595797;background-color: #ffb5b4;border-radius: 6px;font-size: 20px;}
.xingzuoBtn{margin:5px 10px;height:50px;line-height:50px;text-align: center;color: #595797;background-color: #ffb5b4;border-radius: 6px;font-size: 20px;}
.detail-info{margin-top:10px;}
.detail-info .info-item{margin:10px 20px;padding:5px; padding-top:15px; border-radius: 5px;background-color: #daedff;color:#595797; line-height:1.5;}
.detail-info .info-item .cn{text-indent: 2em;}
.detail-info .info-item_xinpan{margin:10px 20px;border-radius: 5px;background-color: #daedff;color:#595797; line-height:1.5;
	padding-left: 15px;
    padding-right: 15px;
    padding-top: 1px;
    padding-bottom: 1px;
    letter-spacing: 1px;
    text-indent:1.7em;
    display:none;
    font-size:16px;
}

.grxx{position: absolute;width:300px;height:200px;left:50%;margin-left: -150px;top:30%;margin-top:-100px;text-align:center;}
.grwx{position: absolute;left: 14px;right:14px;bottom:7em;height:60px;line-height:60px;border-radius: 16px;color: #fff;text-align: center;background-color: #6a6aaa;font-size: 16px;}

.header{height:40px;line-height: 40px;background-color: #595797;position: relative;text-align: center;color:#fff;}
.header .h-l{position: absolute;left:10px;top:10px;height:20px;display: inline-block;line-height: 20px;}
.header .h-r{position: absolute;right:10px;top:10px;height:20px;display: inline-block;line-height: 20px;}

.form-item{margin:5px 10px 0;height:50px;line-height:50px;border-radius: 15px;background-color: #dceeff;}
.form-item .item-l{float: left;margin-left: 10px;font-size: 18px; text-align:center;}
.form-item .item-l .text_1{margin-left:5px;}
.form-item .item-l .i{width:15px;display: inline-block}
.form-item .item-l img,.form-item .item-r img{vertical-align: sub; padding-bottom:2px;}
.form-item .item-r{float: right;margin-right: 15px;}
.form-item .item-r span{background-color: transparent; 
    text-align: right;
    height: 20px;
    line-height: 21px;
    font-weight: 100;
    color: #595797;
    width: 135px;}

.form-item .item-l{color: #595797;}
.form-item .item-r input{background-color:transparent;text-align: right;height:20px;line-height: 21px;font-weight: 100;color: #595797;width:135px;}

.form-item .item-r .sexBtn{height:34px;width:80px;border-radius: 17px;background-color: #fff;margin-top:8px;font-size: 16px;}
.form-item .item-r .sexBtn .open{float:left;margin:1px;width:50px;line-height:32px;text-align: center;color: #fff;background-color: #595996;height:32px;border-radius: 17px;display: inline-block;z-index:999999;}
.form-item .item-r .sexBtn .close{float:left;width:26px;display: inline-block;height:34px;line-height: 34px;text-align: center;}

.sub-btn{margin:20px 10px 0;height:50px;line-height:50px;border-radius: 15px;background-color: #ffb6b6;display:block;color: #fff;text-align: center;font-size: 18px;}

.info-item img{
	margin-left: 5px;
    height: 30%;
    width: 30%;
}

.start_info{
	float:left;
	margin-left:8px;
	width: 30%;
	font-size:10px;
}
.start_info img{
	width:100%;
	height:100%;
}

#stars_list{
	background-color:#daedff;
}

.story_info_item{
	margin: 5px 20px;
    border-radius: 5px;
}


.jd-list{margin-top:13px;margin-left:13px;margin-right:13px; margin-bottom:80px;}
.jd-list li{margin-top:5px;background-color: #90b2f0;border-radius: 16px;min-height:144px;position: relative;}
.jd-list li .left{display: inline-block;position: absolute;left:20px;top:20px;}
.jd-list li .right{display: inline-block;margin-left:132px;margin-right:26px;margin-top:20px;margin-bottom:26px;color:#fff;}
.jd-list li .right .title{font-size:16px;}
.jd-list li .right .text{font-size:15px;}
.jd-detail-list{margin:13px;}
.jd-detail-list li{margin-top:5px;padding:20px;background-color: #90b2f0;border-radius: 16px;color:#fff;}
.ask-list{margin:13px;}
.ask-list li{margin-top:8px;height:51px;background-color: #daedff;border-radius: 16px;line-height: 51px;text-align: center;font-size: 18px;color:#595996;}
#backGround{position:fixed;left:0;top:0px;width:100%;height:100%;background-color:#000;opacity: 0.4;z-index: 99999;}
#backTitle{position: fixed;right:0px;top:0px;width:246px;;height:104px;z-index: 999999;}

.img-title{margin-top:5px;}
.img-title span{display: inline-block;margin:0px 30px;width:70px;font-size: 18px;color: #ffb5b4;}
.img-title span label{display: inline-block;width:100%;}
.img-title span label.r{font-size:16px;color:#90b2f0;}
.border10{border-top:10px solid #595797;}

.grxx-list{margin:17px 13px;}
.grxx-list li{background-color: #ffb5b4;border-radius: 16px;height: 51px;margin-top:5px;line-height: 51px;color:#595797;}
.grxx-list li label{font-size:16px;margin-left:16px;float: left;font-weight: 300;}
.grxx-list li a{margin-right:16px;float:right;margin-top:5px;}
.f20{font-size:20px;    height: 40px;
    padding-top: 15px;}
.f16{font-size:16px;}

.grbg-list{margin:17px 13px;}
.grbg-list li{background-color: #90b2f0;border-radius: 16px;height: 51px;margin-top:5px;line-height: 51px;color:#fff;text-align: center;}
.grbg-list li label{font-size:16px;margin-left:16px;font-weight: 300;}
.grbg-list li a{margin-right:16px;float:right;margin-top:5px;}

.l-t{margin: 20px 0px;text-align: center;}
.l-t span{width:63px;height:63px;line-height:63px;border-radius: 31px;font-size:40px;display: inline-block;text-align: center;margin:0px 40px;}
.l-t span.r{background-color: #ffbab9;color:#595797;}
.l-t span.g{background-color: #a0f3ff;color:#595797;}

/*.i-list{margin:0px 20px;}*/
.i-list li{margin-bottom: 10px;background-color: #daedff;border-radius: 16px;color:#595797;padding:10px;}
.i-list li .title{font-size: 20px;text-align: center;}
.i-list li .text{font-size: 16px; line-height: 1.5;}

.y-list{margin:10px 20px;text-align: center;}
.y-list li{margin-bottom: 10px;background-color: #daedff;border-radius: 16px;color:#595797;padding:10px;}
.y-list li .title{font-size: 20px;}
.y-list li .img{margin-top:17px;}
.y-list li .text{font-size: 14px;}
.y-list li .top17{margin-top:17px;font-weight: 300;font-size:16px;    letter-spacing: 1px; text-indent:2em;}
.y-list li .top17-2{font-weight: 300;font-size: 84px;}
.y-list li .t-i{text-align: left;margin-top:20px;}
.y-list li .t-i div{text-indent: 2em;}

.titl{color: #595797;font-weight: 300;}
.titl .r{color:#f6312b;}
.y-img{margin-top:40px;}
.c1{color:#595797;margin-top:50px;}
.tag{text-align: center;font-size: 12px;}
.xz_tags_1{padding-bottom:5px;}
.tag span.p{display:inline-block;color: #fff;background-color: #595797;border-radius: 8px;padding:1px 10px;}

.tag_user{font-size: 15px; color: #fff; text-align:center; margin-top:-13px;}

.tag_xingpan{font-size: 12px; color: #fff; text-align:center; margin-top:-13px;}

.users_tag_xingpan{font-size: 13px; color: #fff; text-align:right; margin-top:-13px; margin-right: 32px; font-weight: bolder;}
.users_tag_xingpan span.p{display:inline-block;color: #6a68ab;padding:10px 3px;}
.users_tag_xingpan_p1{display:inline-block;color: #f9d328;padding:10px 3px;}

.tag_user span.p{display:inline-block;color: #fff;background-color: #f9d328;padding:5px 5px;margin:5px 5px;}

.user-info{border-top:10px solid #595797;text-align: center;}
.user-info .title{font-size: 18px;margin:10px 0;color: #595797;}
.user-info .user-list{margin-bottom:10px;}
.user-info .user-list span{display: inline-block;height: auto;margin-left:5px;}
.user-info .user-list span div{width:95px;border-radius: 47px;overflow: hidden;}
.user-info .user-list span label{font-size: 15px;display: block;margin-top:5px;color: #595797;}
.user-info .grwx2{margin:10px;height:40px;line-height:40px;border-radius: 16px;color: #fff;text-align: center;background-color: #6a6aaa;font-size: 16px; margin-top:20px;}
.user-info .text{text-align: left;background-color: #daedff;line-height:1.5;    padding:15px 15px;
    color: #595797;
    letter-spacing:1px;
    font-size:16px;
    text-indent:2em;
    display: inline-block;
    word-break: break-all;
}
.see-btn{width:100%;text-align:center;height: 60px;line-height: 60px;background-color: #595797;color: #fff;font-size: 20px;font-weight: 300;position: fixed;left:0px;bottom: 0px;}

.question_title{
    font-size: 21px;
    text-align: center;
    color: #595797;
    padding: 26px 0px;
}
.question_title_1{
    font-size: 21px;
    text-align: center;
    color: #595797;
    display: inline-block;

}

.pgwModal .pm-body .pm-content{text-align: center;padding: 30px 10px;}


.picker .picker-panel .wheel-wrapper .wheel .wheel-scroll .wheel-item {
    font-weight: bold;
}

.xx_info_item{padding: 5px;border-radius: 5px;}
.xx-info{border-top:10px solid #595797;text-align: center;}
.xx-info .title{font-size: 18px;margin:10px 0;color: #595797;}

.xx-info .grwx2{margin:10px;height:40px;line-height:40px;border-radius: 16px;color: #fff;text-align: center;background-color: #6a6aaa;font-size: 16px;}
.xx-info .text{margin:10px;text-align: left;background-color: #daedff;line-height:1.5;    padding:2px 15px;color: #595797;font-size:16px;     text-indent:2em; letter-spacing: 1px;}

._date_top_ul{
	width: 100%;
    height: 20px;
    margin-top: -10px;
}

._date_top {
	float: left;
    text-align: center;
    width: 20%;
}

.tag_xingpan img{
	
	width:15px;
	height:15px;
	    vertical-align: sub;
}

.tag_xingpan span.p{}

.tag_xingpan_2{
	display:inline-block;color: #6a68ab;padding:5px 5px;margin:5px 5px;
}

.story_span{
	display: inline-block;
    padding: 3px 5px;
    float: right;
    width: 100%;
}
